:root {
    --Grayish-Blue: hsl(217, 19%, 38%);
    --Dark-Grayish-Blue: hsl(217, 19%, 24%);
    --Dark-Blue: hsl(218, 23%, 16%);
    --Light-Cyan: hsl(193, 38%, 86%);
    --Neon-Green: hsl(150, 100%, 66%);
  }

  

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    background-color: var(--Dark-Blue);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
}

.advice {
    background-color: var(--Dark-Grayish-Blue);
    height: 40vh;
    width: 500px;
    position: relative;
    border-radius: 1rem;
}

.advice-content {
    display: flex;
    flex-direction:column;
    justify-content:space-between;   
    text-align:center;   
    align-items:center;
    padding:2rem 3rem;
    gap:2rem;
}

.advice-title{
    color: var(--Neon-Green);
    font-size: 12px;
}

.advice-text{
    color: var(--Light-Cyan);
    font-size: 28px;
}


picture{
    display: flex;
    justify-content: center;
}

picture img{
    margin-bottom:1rem;
}

footer{
    align-items: center;
    justify-content: center;
}

.button{
    background-color: var(--Neon-Green);
    border: none;
    border-radius: 50%;
    position: absolute;
    padding: 1rem;
    cursor: pointer;   
    bottom: -18%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button:hover{
    filter:drop-shadow(0 0 0.75rem hsl(150,100%,66%));
    transition: all 0.2s ease-out;
}